<div id="container">
	<div id="wrap">
		<div id="logo">
			<a href=""><img id="title" src="/images/mblogo.png" /></a>
		</div>

		<div>
			<ul id="nav">
				<li><a href="#"><img src="/images/login.png" /></a></li>
				<li><a href="#"><img src="/images/contact.png" /></a></li>
				<li><a href="#"><img src="/images/faq.png" /></a></li>
				<li><a href="#"><img src="/images/aboutus.png" /></a></li>
				<li><a href="#"><img src="/images/shop.png" /></a></li>
			</ul>
		</div>

	</div>

	<div class="flex-container">
	    <div class="flexslider">
	        <ul class="slides">
	            <li>
	                <a href="#"><img class="pic" src="/images/antoine.jpg" /></a>
	            </li>
	 
	            <li>
	                 <a href="#"><img class="pic" src="/images/vers.jpg" /></a>
	            </li>
	 
	            <li>
	                 <a href="#"><img class="pic" src="/images/garden.jpg" /></a>
	                <p>Designing The Well-Tempered Web</p>
	            </li>
	        </ul>
	    </div>
	</div>

	<div id="rectangle">
		<div class="item" id="item1">
			<div class="icon"><a href="#"><img src="/images/antoine.jpg" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
		<div class="item" id="item2">
			<div class="icon"><a href="#"><img src="/images/vers.jpg" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
		<div class="item" id="item3">
			<div class="icon"><a href="#"><img src="/images/garden.jpg" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
	</div>

	<div id="footer">This site was made by Ben.</div>

</div>