<div id="container">
	<div id="wrap">
		<div id="logo">
			<p class="title">McCall Bennett Antiques</p>
		</div>

		<div>
			<ul id="nav">
				<li><a href="#">Login</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Shop</a></li>
			</ul>
		</div>

	</div>

	<div class="flex-container">
	    <div class="flexslider">
	        <ul class="slides">
	            <li>
	                <a href="#"><img src="/images/wetdog.jpg" /></a>
	            </li>
	 
	            <li>
	                 <a href="#"><img src="/images/oakleybear.JPG" /></a>
	            </li>
	 
	            <li>
	                 <a href="#"><img src="/images/balling.jpg" /></a>
	                <p>Designing The Well-Tempered Web</p>
	            </li>
	        </ul>
	    </div>
	</div>

	<div id="rectangle">
		<div class="item" id="item1">
			<div class="icon"><a href="#"><img src="/images/wetdog.jpg" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
		<div class="item" id="item2">
			<div class="icon"><a href="#"><img src="/images/oakleybear.JPG" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
		<div class="item" id="item3">
			<div class="icon"><a href="#"><img src="/images/balling.jpg" /></a></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus viverra elit ac condimentum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
			<div class="button"><a href="#">Details</a></div>
		</div>
	</div>

	<div id="footer">This site was made by Ben.</div>

</div>