<div id="container">
	<div id="wrap">
		<div id="logo">
			<a href="index"><img id="title" src="/images/withtree.png" /></a>
		</div>

		<div>
			<ul id="nav">
				<li><a href="/contact"><img src="/images/contact.png" /></a></li>
				<li><a href="/shop"><img src="/images/faq.png" /></a></li>
				<li><a href="/about_us"><img src="/images/aboutus.png" /></a></li>
				<li><a href="/shop"><img src="/images/shop.png" /></a></li>
			</ul>
		</div>

	</div>



</div>