body {
  background-color: #f0f0f0;
}

#container{
  width: 980px;
  height: 1800px;
  margin: 0 auto;
  position:relative;
}

#wrap{
	width: 980px;
	margin: 0 auto;
	overflow:auto;
}

#logo{
	width: 100%;
  height: 60px
}

#title{
	width: 250px;
  height: auto;
}

#nav {
  width: 100%;
  height: 40px;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f0f0f0;
  overflow:auto;
}

#nav img {
  width:80px;
  height: auto;
}

#nav li {
  float: right; 
}

#nav li a {
  padding-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: #000000;
}

#nav li img:hover {
  background-color: #858585; 
}

.pic {
  width:auto;
  height: 700px;
}

#rectangle {
  width: 980px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.item {
  position: absolute;
  width: 300px;
  height: 600px;
  border: 1px solid #000000;
  border-radius: 5px;
  -moz-border-radius: 25px;
}

#item1 {
  left: 0;
}

#item2 {
  left: 339px;
}

#item3 {
  right: 0;
}

.item p {
  margin: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: large;
}

.icon {
  width: 260px;
  height: auto;
  margin: 40px auto;
}

#rectangle img {
  width: 260px;
  height: auto;
}

#rectangle button {
  bottom: 20px;
  margin: 0 auto;
}

.button {
  width: 260px;
  height: 60px;
  margin: 0 auto;
  background-color: #858585;
  text-align: center;
}

.button a {
  display: block;
  width: 260px;
  height: 42px;
  padding-top: 18px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: #f0f0f0;
}

.button:hover {
  border: 1px solid #000000;
  background-color: #f0f0f0;
}

.button:hover a {
  color: #000000;
}

#footer {
  position:absolute;
  bottom:0px;
  width:100%;
  height:40px;
  font-family: 'Cinzel', serif;
}